[submodule "server"]
	path = server
	url = git@github.com:kalon-robson/personal-portfolio-server.git
[submodule "client"]
	path = client
	url = git@github.com:kalon-robson/personal-portfolio-client.git
